@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
    min-height: 100%
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    font-family: 'Lato', sans-serif;

}

svg{
    background-color: grey;
}

#canvas{
    min-height: 600px;
    min-width: 1000px;
}

#tooltip{
    visibility: hidden;
    height: auto;
    width: auto;
}

.county:hover{
    fill: black;
}